<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jaredatron.googleCorrent</string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5E9B86C-D73B-4E52-9A41-2731EEE5F1DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E285ED5-5A37-488C-9BE0-A4E231F8C808</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5E9B86C-D73B-4E52-9A41-2731EEE5F1DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C532DA7C-8EBA-4952-9C86-AE8C36F60C43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E285ED5-5A37-488C-9BE0-A4E231F8C808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jared Grippe</string>
	<key>description</key>
	<string>Google Correct Your Clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Correct</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>gc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$orig = "{query}";
$xml = $wf-&gt;request( "http://google.com/complete/search?output=toolbar&amp;q=".urlencode( $orig ) );
$xml = simplexml_load_string( utf8_encode($xml) );
$int = 1;

foreach( $xml as $sugg ):
	$data = $sugg-&gt;suggestion-&gt;attributes()-&gt;data;
	$wf-&gt;result( $int.'.'.time(), "$data", "$data", 'Search Google for '.$data, 'icon.png'  );
	$int++;
endforeach;

$results = $wf-&gt;results();
if ( count( $results ) == 0 ):
	$wf-&gt;result( 'googlesuggest', $orig, 'No Suggestions', 'No search suggestions found. Search Google for '.$orig, 'icon.png' );
endif;

echo $wf-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Google with Suggestions</string>
				<key>title</key>
				<string>Search Google</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F5E9B86C-D73B-4E52-9A41-2731EEE5F1DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C532DA7C-8EBA-4952-9C86-AE8C36F60C43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>gcc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$orig = "{query}";
$xml = $wf-&gt;request( "http://google.com/complete/search?output=toolbar&amp;q=".urlencode( $orig ) );
$xml = simplexml_load_string( utf8_encode($xml) );
$int = 1;

foreach( $xml as $sugg ):
	$data = $sugg-&gt;suggestion-&gt;attributes()-&gt;data;
	$wf-&gt;result( $int.'.'.time(), "$data", "$data", 'Search Google for '.$data, 'icon.png'  );
	$int++;
endforeach;

$results = $wf-&gt;results();
if ( count( $results ) == 0 ):
	$wf-&gt;result( 'googlesuggest', $orig, 'No Suggestions', 'No search suggestions found. Search Google for '.$orig, 'icon.png' );
endif;

echo $wf-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Google with Suggestions</string>
				<key>title</key>
				<string>Search Google</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8E285ED5-5A37-488C-9BE0-A4E231F8C808</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow gives you in-line results for Google, helping you find what you want even quicker!</string>
	<key>uidata</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8E285ED5-5A37-488C-9BE0-A4E231F8C808</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>C532DA7C-8EBA-4952-9C86-AE8C36F60C43</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F5E9B86C-D73B-4E52-9A41-2731EEE5F1DD</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/deadlyicon/alfred-workflows</string>
</dict>
</plist>
